.accordion-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.userCountBadge{
  width: 1.5em;
  height: 1.5em;
  justify-content: center;
  background-color: #3f51b5;
  color: white;
}

.heading-row h1{
  margin-bottom: 0;
}