<div class="container pt-3">
  <h1>All Departments</h1>
  <mat-divider></mat-divider>
  <!-- bootstrap accordian
  <div class="accordion" id="accordionExample">
    <div class="accordion-item" *ngFor="let item of items;let index = index">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
        (click)="toggleSelected($event)">
          Accordion Item #1
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show"  data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
  </div>

  material accordion
  <cdk-accordion class="example-accordion">
    <cdk-accordion-item
      *ngFor="let item of items; let index = index;"
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index">
      <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
        {{ item }}
        <span class="example-accordion-item-description">
          Click to {{ accordionItem.expanded ? 'close' : 'open' }}
        </span>
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
        excepturi incidunt ipsum deleniti labore, tempore non nam doloribus blanditiis
        veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?
      </div>
    </cdk-accordion-item>
  </cdk-accordion> -->

  <!-- <div class="mt-3">
    <mat-accordion class="accordion-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          <mat-panel-description>
            Type your name and age
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ul class ="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </mat-expansion-panel>
    
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Destination
          </mat-panel-title>
          <mat-panel-description>
            Type the country name
            <mat-icon>map</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <input matInput>
      </mat-expansion-panel>
    
      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Day of the trip
          </mat-panel-title>
          <mat-panel-description>
            Inform the date you wish to travel
            <mat-icon>date_range</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    
    </mat-accordion>
  </div> -->

  <div class="mt-3">
    <mat-accordion class="accordion-headers-align">
      <mat-expansion-panel *ngFor="let dept of allDepts;let index = index"
        [expanded]="step === index" (opened)="setStep(index)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{dept.deptName}}
          </mat-panel-title>
          
          <span class="text-center rounded-circle userCountBadge">{{dept.userCount}}</span>

        </mat-expansion-panel-header>
        <!-- list of users -->
        <ul class ="list-group">
          <li class="list-group-item"
            *ngFor="let user of getUserByDept(dept.deptName)">
            <div class="d-flex justify-content-between">
              <span>{{user.name}}</span>
              <span>{{user.deptName}}</span>
            </div>
          </li>
        </ul>
      </mat-expansion-panel>
    
    </mat-accordion>
  </div>

  <mat-divider></mat-divider>
  <div class="mt-3">
    <button mat-raised-button color="primary">Add Department</button>
    <button mat-raised-button>Add User</button>
  </div>
</div>